body {
  /* Set line height to 1.5 times the font size
	   and use the OS’s UI font as the website font
	 */
  font: 100%/1.5 system-ui;
  max-width: 100ch;
  margin-inline: auto;
  padding: 50px;


}

nav {
  display: flex;
  margin-bottom: 1.5em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  --border-color: oklch(50% 10% 200 / 40%);
}

nav a {
    flex: 1;
    text-decoration: none;
    color: inherit;
    text-align: center;
    padding: 0.5em;
    border-bottom: 0.4em solid transparent;
  }

nav a.current {
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  padding-bottom: 0.1em;
  border-bottom-color: var(--border-color);
}

nav a:hover{
  border-bottom-width: 0.4em;
  border-bottom-style: solid;
  border-bottom-color: var(--color-accent);
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

html {
  --color-accent: oklch(65% 50% 140);
  accent-color: var(--color-accent);
  color-scheme: light dark;
  
}

nav {
  border-bottom-color: oklch(50% 10% 200 / 40%);
  --border-color: oklch(50% 10% 200 / 40%);
  border-bottom-color: var(--border-color);
}


form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  margin: 0;
  gap: 1em;
}


.projects article h2 {
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;

}
h1 {
  font-size: 500%;
}

h2 {
  font-size: 150%;
}

h3.res-info{
  font-size: 150%;
}



.edu-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5em;

}

.school {
  font-weight: bold;
}


.edu-entry {
  margin-bottom: 1.5em;
}

.edu-entry p.degree{
  font-style: italic;
  margin-top: -0.5em;
}

h3.res-header{
  border-bottom-width: 0.1em;
  border-bottom-color: black;
  border-bottom-style: solid;

}

.edu-entry ul{
  margin: 0.5em 0;
  list-style-type: disc;
}

.edu-entry li {
  margin: 0.25em 0;
}

.edu-entry li p {
  margin: 0;
}





.res-tec-skill ul{
  margin: 0.5em 0;
  list-style-type: disc;
}

.res-tec-skill li{
  margin: 0.25em 0;
}

.res-tec-skill li p{
  margin: 0;
}






.proj-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 0.5em;

}

.proj-title {
  font-weight: bold;
}

.res-ind-project {
  margin-bottom: 1.5em;
}

.res-ind-project ul{
  margin: 0.5em 0;
  list-style-type: disc;
}

.res-ind-project li {
  margin: 0.25em 0;
}

.res-ind-project li p {
  margin: 0;
}




.job-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.5em;
}

.job-left .job-title, .job-right .location{
  font-weight: bold;
}

.job-left .company,
.job-right .time {
  display: block;
}

.job-left .company{
  font-style: italic
}

.job-left,
.job-right {
  max-width: 60%;
}

.job-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.res-job {
  margin-bottom: 1.5em
}

.res-job ul{
  margin: 0.5em 0;
  list-style-type: disc;
}

.res-job li{
  margin: 0.25em 0;
}

.res-job li p{
  margin: 0;
}

.color-scheme{
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
  font-family: inherit;

}


#profile-stats dl {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    gap: 0.5rem;
}

#profile-stats dt {
  grid-row: 1;
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
  text-align: left
}

#profile-stats dd {
  grid-row: 2;
  font-size: 2.5rem;
  font-weight: bold;
  color: #000;
  text-align: left;
}

.project-info {
  display: flex;
  flex-direction: column;;
}

.project-year {
  font-family: Baskerville, serif;
  font-style: italic;
  font-size: 0.9rem;
  color: #000000;
  font-variant-numeric: oldstyle-nums;
  margin-top: 0.5em;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.swatch {
  width: 1em;
  height: 1em;
  aspect-ratio: 1 / 1; 
  background-color: var(--color);
  border-radius: 50%;
  display: inline-block;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  list-style: none;
  padding: 1rem;
  margin: 0;
  border: 1px solid oklch(35.053% 0.0081 197.061 / 0.591);
  border-radius: 8px;
  box-sizing: border-box;
  flex: 1;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.container {
  display: flex;
  flex: 1;
  gap: 2em;
  align-items: center;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;
}

.selected {
  --color: oklch(38.54% 0.21052 270.362) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.stats {
  display: flex;                  
  justify-content: space-around;  
  align-items: flex-start;
  padding: 1rem 2rem;
  border-radius: 12px;
  margin: 1rem 0;
  font-family: 'Inter', system-ui, sans-serif;
}

.stats dt {
  display: block;
  text-align: center;
  font-weight: 600;
  color: #757575;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}


.stats dd {
  display: block;
  margin: 0 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: #222;

}

.stats dt, .stats dd {
  flex: 0 0 auto;
}

.gridlines {
  stroke: #e3e3e3;
  stroke-opacity: 0.3;
}

.gridlines path {
  stroke: none;
}

.dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.25rem 1rem;
  margin: 0;
  padding: 0.5rem 1rem;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  font-family: 'Inter', system-ui, sans-serif;
}

dl.info dt {
  font-weight: 500;
  color: #666;
}

dl.info dd {
  margin: 0;
  font-weight: 600;
  color: #222;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  backdrop-filter: blur(6px);
  padding: 0.75rem 1rem;
  font-family: 'Inter', system-ui, sans-serif;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.05);

}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;

  @starting-style {
    r: 0;
  }
}

circle:hover {
  transform: scale(1.5);
}

dl.info {
  /* ... other styles ... */
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8; /* 5 + 3 */
  }
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;
}

.filter-bar{
  display: flex;
  align-items: baseline;
  margin-bottom: 1rem;
}

.filter-bar label{
  flex: 1;
}

#commit-time {
  margin-left: auto;
  font-weight: bold;
}

#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  > div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}

.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: var(--color);
  border-radius: 50%;
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
}

.step {
  padding-bottom: 1rem;
}